<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>

    <block name="title"></block>

    <link rel="stylesheet" href="__AM__/css/amazeui.min.css">
    <link rel="stylesheet" href="__AM__/css/app.css">

    <block name="head"></block>
</head>
<body>

<block name="body"></block>

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="__STATIC__/jquery-2.1.4.min.js"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="__STATIC__/jquery-1.11.3.min.js"></script>
<script src="__STATIC__/modernizr.js"></script>
<script src="__AM__/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<script src="__AM__/js/amazeui.min.js"></script>
<script src="__AM__/js/app.js"></script>

<block name="script"></block>

</body>
</html>