<extend name="Public/base"/>

<block name="title">
    <title>{$title} - ApiWiki</title>
</block>

<block name="head">
    <style>
        .header {
            text-align: center;
            margin-top: 1.6rem;
        }
        .header h1 {
            font-size: 200%;
            color: #333;
            font-weight: normal;
            margin: 0;
            padding: 0;
        }
        em {
            display: inline-block;
            width: 1em;
        }
        .table-main {
            border: #E6E6E6 solid 1px;
        }
        .table-main td {
            font-size: .8em;
            word-break: break-all;
        }
        .am-modal-bd .am-u-sm-9, .am-modal .am-u-sm-9 {
            text-align: left !important;
        }
        .am-modal-hd {
            border-bottom: #ccc solid 1px;
            margin-bottom: 20px;
            padding-bottom: 10px;
            font-weight: bold;
        }
        .deep td:first-child em {
            display: inline-block;
            width: 1em;
        }
        .am-popover {
            z-index: 3000;
        }

        table th {
            border: 0 !important;
            background: #f1f1f1;
            font-weight: normal;
        }

    </style>
</block>

<block name="submenu">
    <notempty name="project">
        <div class="am-panel am-panel-default admin-sidebar-panel">
            <ul class="am-list admin-sidebar-list">
                <include file="Public:projectMenu"/>
            </ul>
        </div>
    </notempty>
</block>

<block name="body">
    <div class="header">
        <h1>Api Wiki</h1>
    </div>
    <hr />
    <div class="am-g">
        <div class="am-u-sm-3 am-u-md-3">
            <h2>{$project.title}</h2>
            <p><strong>接口</strong></p>
            <ul>
                <volist name="list" id="vo">
                    <li><a href="{:U('item',array('pid' => $project['id'],'id' => $vo['id']))}">{$vo.title}</a></li>
                </volist>
            </ul>
            <p><strong>文档</strong></p>
            <ul>
                <volist name="docs" id="doc">
                    <li><a href="{:U('doc',array('pid' => $project['id'],'id' => $doc['id']))}">{$doc.title}</a></li>
                </volist>
            </ul>
        </div>
        <div class="am-u-sm-9 am-u-md-9">
            <h2>{$interface.title}</h2>
            <p>{$interface.description|html_entity_decode}</p>
            <h4>接口地址</h4>
            <p>{$project.base_url}{$interface.url}</p>
            <h4>请求模式</h4>
            <p>
                <switch name="interface.method">
                    <case value="1">GET</case>
                    <case value="2">POST</case>
                    <case value="3">PUT</case>
                </switch>
            </p>

            <div class="am-form-group">
                <label class="am-form-label">传入参数</label>
                <notempty name="interParam">
                    <table class="am-table am-table-hover table-main" id="param-table">
                        <thead>
                        <tr>
                            <th width="150">字段</th>
                            <th width="150">名称</th>
                            <th width="120" style="text-align: center">是否必传</th>
                            <th width="120" style="text-align: center">数据类型</th>
                            <th width="150">示例</th>
                            <th>描述</th>
                        </tr>
                        </thead>
                        <tbody>
                        {:R('Index/dataTree',array($interParam,0))}
                        </tbody>
                    </table>
                    <else/>
                    <p>无</p>
                </notempty>
            </div>

            <div class="am-form-group">
                <label class="am-form-label">返回值</label>
                <table class="am-table am-table-hover table-main" id="return-data-table">
                    <thead>
                    <tr>
                        <th width="150">字段</th>
                        <th width="150">名称</th>
                        <th width="120" style="text-align: center">一定存在</th>
                        <th width="120" style="text-align: center">数据类型</th>
                        <th width="150">示例</th>
                        <th>描述</th>
                    </tr>
                    </thead>
                    <tbody>
                    {:R('Index/dataTree',array($returnData,0))}
                    </tbody>
                </table>
            </div>

            <div class="am-form-group">
                <label class="am-form-label">错误码</label>
                <notempty name="errorData">
                    <table class="am-table am-table-hover table-main" id="error-table">
                        <thead>
                        <tr>
                            <th>error_code</th>
                            <th>error_msg</th>
                            <th>原因</th>
                            <th>解决方案</th>
                        </tr>
                        </thead>
                        <tbody>
                        <volist name="errorData" id="error">
                            <tr>
                                <td>{$error.code}</td>
                                <td>{$error.msg}</td>
                                <td>{$error.reason|html_entity_decode}</td>
                                <td>{$error.solution|html_entity_decode}</td>
                            </tr>
                        </volist>
                        </tbody>
                    </table>
                </notempty>
                <p><a href="{:U('code',array('pid' => $project['id']))}">错误码列表</a></p>
            </div>

        </div>
    </div>

    <br/><br/>
    <hr>
    <p align="center">© 2015 ApiWiki. Licensed under MIT license.</p>

</block>